/* * {
    border-style: dotted;
} */

html {
    background: linear-gradient(to bottom right, #3E517A, #B08EA2);
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
}

.search-container {
    display: flex;
    max-width: 300px;
    max-height: 100px;
    margin: auto;
}

.search-img {
    max-width: 20px;
    max-height: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: whitesmoke;
    border-radius: 20px;
}

.search-img:active {
    max-width: 18px;
    max-height: 18px;
}

.search-img:active .weather-tiles-container { display: block; }

.search-input {
    flex-grow: 1;
    border-style: none;
    border-radius: 25px;
    padding: 10px 15px;
    text-align: center;
    border-color: lightgrey;
}

.dropdown {
    display: inline-block;
    position: absolute;
    margin: 2px;
    padding: 2px;
}

.unit-container {
    display: none;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.weather-tiles-dropdown {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 45px;
    margin: 2px;
    padding: 2px;
}

.weather-tiles-container {
    z-index: 2;
    display: none; 
    background-color: whitesmoke;
    min-width: 160px;
    border-radius: 10px;
}

.unit-selector {
    max-width: 20px;
    max-height: 20px;
    padding: 10px;
    background: whitesmoke;
    border-radius: 20px;
}

.dropdown:hover .unit-container { display: block; }

.dropdown:hover .unit-selector { content: url("/assets/down.png");}

.dropdown p {
    list-style-type: none;
    padding: 15px 20px;
    text-align: left;
    font-size: small;
    border-radius: 10px;
}

.dropdown p:hover {
    background-color: beige;
    cursor: pointer;
}

.dropdown p:active {
    background-color: lightsteelblue;
}

.weather-tiles-dropdown p {
    list-style-type: none;
    padding: 15px 20px;
    text-align: left;
    font-size: small;
    border-radius: 10px;
}

.weather-tiles-dropdown p:hover {
    background-color: beige;
    cursor: pointer;
}

.weather-tiles-dropdown p:active {
    background-color: lightsteelblue;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    color: whitesmoke;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    text-align: center;
    color: whitesmoke;
}

.weather-img {
    z-index: 1;
    display: block;
    margin:  auto;
    position: relative;
    padding: 0px 10px;
    width: 100px;
    height: 100px;
}

.weather-container {
    display: block;
    margin: 30px auto;
    max-width: 250px;
    max-height: 250px;
}

.info-img {
    width: 20px;
    height: 20px;
    display: block;
    margin:  auto;
    z-index: 1;
}

.weather-info-container {
    display: none;
    margin: 8px;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 30px;
}

.weather-info-container p {
    font-size: 9px;
    margin: auto;
    
}