/* * {
    border-style: dotted;
} */

html {
    background-color: rgb(152, 180, 213);
}

.search-img {
    top: 7%;
    left: 75%;
    transform: translate(-50%,-50%);
    max-width: 20px;
    max-height: 20px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
}

.search-img:active {
    max-width: 18px;
    max-height: 18px;
}

.search-input {
    top: 7%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: none;
    width: 300px;
    border-radius: 25px;
    padding: 10px 15px;
    text-align: center;
    border-color: grey;

    position: absolute;
    
}

.dropdown {
    display: inline-block;
    position: absolute;
}

.unit-container {
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.unit-selector {
    max-width: 20px;
    max-height: 20px;
    padding: 10px 10px 0px 10px;
}

.dropdown:hover .unit-container { display: block; }

.dropdown:hover .unit-selector { content: url("/assets/down.png");}

p {
    list-style-type: none;
    padding: 15px 20px;
    text-align: left;
    font-size: small;
}

p:hover {
    background-color: beige;
    cursor: pointer;
}

p:active {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
    color: whitesmoke;
}
